*{
    margin: 0px auto;
}
body{
    padding: 0px;
    margin: 0px auto;
    background: url(../img/bg3.png) no-repeat;
    background-size:cover;
}
#top{
    width: 100%;
    background-color: rgb(92, 196, 147,0.5);
}
#header{
    width:100%;
    margin: 0 auto;
}
#nav{
    margin: 0px;
    padding: 0px;
    height: 50px;
    list-style-type: none;
}
#right{
    float: left;
    margin-left: 50px
}
#right a,#left a{
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
    color: white;
}
#right a:hover,#left a:hover{
    color: greenyellow;
}
#left{
    float: right;
    margin-right: 50px;
}
#middle{
    font-family: "宋体";
    margin-top: 150px;
    width: 400px;
}
#middle h1{
    width: 400px;
    text-align: center;
    color: rgba(0, 0, 0, 0.555);

}
#content{
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5%;
}
#content1{
    width: 300px;
    padding-top:20px ;

}
#content1 span{
    font-size: 20px;
    display: inline-block;
    margin-top: 20px;
}
.text{
    border-radius: 5px;
    float: right;
    margin-top: 10px;
    width: 150px;
    height: 25px;
}
#sub{
    border-radius: 5px;
    background-color: rgb(255,243,189);
    width: 300px;
    height: 30px;
    font-size: 16px;
    float: right;
    margin-top: 20px;
}
#sub:hover{
    background-color: rgb(255,195,29);
}
.sex{
    margin-top: 30px;
    margin-left: 80px;
}
#bottom{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: rgb(41, 41, 41);
}
#bottom p{
    color: white;
    font-size: 12px;
    font-family: "宋体";
    text-align: center;
    margin-top: 10px;
}