/* CSS Document */

*{
    margin: 0px auto;
}
body{
    padding: 0px;
    margin: 0px auto;
    background: url(../img/bg\ 2.png) no-repeat;
    background-size:cover;
}
#top{
    width: 100%;
    background-color: rgb(92, 196, 147,0.5);
}
#header{
    width:100%;
    margin: 0 auto;
}
#nav{
    margin: 0px;
    padding: 0px;
    height: 50px;
    list-style-type: none;
}
#right{
    float: left;
    margin-left: 50px
}
#right a,#left a{
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
    color: white;
}
#right a:hover,#left a:hover{
    color: greenyellow;
}
#left{
    float: right;
    margin-right: 50px;
}
#act{
    margin-top: 20px;
    width: 1000px;
    height: 650px;
}
#button{
    padding-top: 20px;
    width: 500px;
    margin: 0 auto;
}
#button input{
    background-color: rgba(92, 196, 147,0.5);
    padding: 5px;
    border-color: rgb(204, 204, 248);
    font-family: "宋体";
    border-radius: 5px;
    margin-left: 50px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
#button input:hover{
    color: rgb(68, 166, 223);
}
.finally{
    cursor: pointer;
    background-color: rgb(185, 247, 185);
}
#content{
	padding-top:20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    width: 900px;
    height: 550px;
}
.message{
    margin-left: 100px;
    width: 700px;
	height:120px;
    padding: 0px;
    margin-top: 20px;
	list-style-type:none;
}
.img{
    line-height: 50px;
    text-align: center;
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid #009;
}
.img img{
	border-radius:25px;
}
#username{
	color:#fff;
    float: right;
    background-color: rgb(70,102,127);
    width: 600px;
    height: 50px;
    border-radius: 5px 5px 0px 0px;
}
#username p{
    width: 500px;
    height: 30px;
    margin-left: 10px;
    line-height: 50px;
}
#username span{
    float: right;
    width: 100px;
    font-size:10px ;
}
#msg{
    float: right;
    width: 600px;
    height: 40px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
}
#msg p{
	display:inline-block;
	margin-right:0px;
    width: 500px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
	font-size:12px;
}
.reply{
	padding-top:10px;
	position:relative;
	bottom:10px;
	margin-left:100px;
	background-color:#fff;
	float:left;
	width:600px;
	height:50px;
	border-radius: 0px 0px 5px 5px;
}
.reply p{
	font-size:12px;
	margin-left:10px;
}
#bottom{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: rgb(41, 41, 41);
}
#bottom p{
    color: white;
    font-size: 12px;
    font-family: "宋体";
    text-align: center;
    margin-top: 10px;
}